doctype html
html(lang='en')
  include ./includes/header.jade
  body
     div(class='container')
        h1 Contact Information
        p Please include all of the information in the form below and I will respond to you as soon as possible. Thank you for your interest!
        form(role='form')
           div(class='form-group')
              label(for='name') Full Name
              input(id='name' class='form-control' type='text' placeholder='Name')
           div(class='form-group')
              label(for='email') Email Address
              input(id='email' class='form-control' type='text' placeholder='Email')
           div(class='form-group')
              label(for='message') Message
              input(id='message' class='form-control' type='text' placeholder='Please include your message here')
           div(class='form-group')
              button(type='submit' class='btn btn-default') Submit
     include ./includes/footer.jade
