doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Sublime Handmades
    // Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/
    link(href='assets/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='assets/css/sublime.css', rel='stylesheet')
    // Custom Fonts
    link(href='assets/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top.index
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          #header-brand.navbar-brand(href='/') Sublime Handmades
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.page-scroll
              a(href='/') Home
            li.dropdown
              a.dropdown-toggle(href='#', role='button', data-toggle='dropdown') Cart 
                 span.badge 0
              ul.dropdown-menu
                 li
                    a(href='') Item 1
                 li
                    a(href='') Item 2
                 li
                    a(href='') Item 3
                 li.divider(role='separator')
                 li
                    a(href='') Checkout
    // Gallery Section
    header#gallery.success
      .container
        .row
          .col-lg-12.text-center
            h2 Gallery
            hr.star-light
            p This is where I display accessories I have created and sold in the past
        .row
          .col-sm-4.portfolio-item
            a.portfolio-link(href='/gallery', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/portfolio/game.png', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='/gallery', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/portfolio/safe.png', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='/gallery', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/portfolio/submarine.png', alt='')
