doctype html
html(lang="en")
  include ./includes/header.jade
  body
     div(class='jumbotron')
        div(class='container')
           h1
              | Welcome to Sublime Handmades!
           p
               | I  am passionate about everything handmade and have been knitting and crocheting for over 45 years. I have now decided to turn my skill into business. Scarfs, shawls, hats are my main interest but I also make baby blankets. I also love to take on custom orders if time permits!
               | I only use high quality yarns mostly with animal fibers (sometimes with a little blend of acrylic) as I don't like the feel of acrylic yarns only. 

  include ./includes/footer.jade
