doctype html
html(lang="en")
  include ./includes/header.jade
  body
     div(class='jumbotron')
        div(class='container-fluid')
           h1
              | Welcome to Sublime Handmades!
           p
              | Going to have to add more text here later

  include ./includes/footer.jade
