footer(class='footer-distributed')
   div(class='footer-right')
      a(href='https://www.facebook.com/hmmhdcs2014/?fref=ts')
         i(class='fa fa-facebook')
      a(href='https://www.instagram.com/sublime_handmades/')
         i(class='fa fa-instagram')
      a
         i(class='fa fa-twitter')
   div(class='footer-left')
      p(class='footer-links')
         a(href='#') Home
         |  | 
         a(href='/about') About Me
         |  | 
         a(href='/contact') Contact Me
      p Sublime Handmades © 2015
