// Footer
footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          h3#footer-text Other Things
        .footer-col.col-md-4
          h3#footer-text Find Me On These Other Sites
          ul.list-inline
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-facebook
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-google-plus
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-twitter
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-linkedin
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-dribbble
        .footer-col.col-md-4
          h3#footer-text About Sublime Handmades
          p
             a(href='#sublimeModal1', data-toggle='modal') Shopping Policy
  .footer-below
    .container
      .row
        .col-lg-12
           | Copyright © Sublime Handmades 2015
// Bootstrap Core JavaScript
script(src='js/bootstrap.min.js')
script(src='js/classie.js')
script(src='js/cbpAnimatedHeader.js')
// Plugin for smooth scrolling
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
// Contact Form JavaScript
script(src='js/jqBootstrapValidation.js')
script(src='js/contact_me.js')
// Custom Theme JavaScript
script(src='js/sublime.js')
