doctype html
html(lang='en')
  include ../templates/header.jade
  body#page-top.index
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          #header-brand.navbar-brand(href='/') Sublime Handmades
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.page-scroll
              a(href='/') Home
            li.dropdown
              a.dropdown-toggle(href='#', role='button', data-toggle='dropdown') Cart 
                 span.badge 0
              ul.dropdown-menu
                 li
                    a(href='') Item 1
                 li
                    a(href='') Item 2
                 li
                    a(href='') Item 3
                 li.divider(role='separator')
                 li
                    a(href='') Checkout
    // Gallery Section
    header#gallery
      .container
        .row
          .col-lg-12.text-center
            h2 Gallery
            hr.star-light
            p This is where I display accessories I have created and sold in the past
        .row
          .col-sm-4.portfolio-item
            a.portfolio-link(href='/gallery', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/gallery/sold2.jpg', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='/gallery', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/gallery/sold3.jpg', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='/gallery', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/gallery/sold4.jpg', alt='')
        .row
          .col-sm-4.portfolio-item
            a.portfolio-link(href='/gallery', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/gallery/sold5.jpg', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='/gallery', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/gallery/sold6.jpg', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='/gallery', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/gallery/sold7.jpg', alt='')
    include ../templates/footer.jade
