head
 meta(charset='utf-8')
 meta(http-equiv='X-UA-Compatible', content='IE=edge')
 meta(name='viewport', content='width=device-width, initial-scale=1')
 title= pageTitle
 // Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/
 link(href='assets/css/bootstrap.min.css', rel='stylesheet')
 // Custom CSS
 // link(href='assets/css/sublime.css', rel='stylesheet')
 // Custom Fonts
 link(href='assets/css/font-awesome.min.css', rel='stylesheet', type='text/css')
 link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet', type='text/css')
 link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
 // jQuery
 script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
