doctype html
html(lang='en')
  include ../templates/header.jade
  body#page-top.index
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          #header-brand.navbar-brand(href='#page-top') Sublime Handmades
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.page-scroll
              a(href='#forsale') For Sale
            li.page-scroll
              a(href='#gallery') Gallery
            li.page-scroll
              a(href='#about') About
            li.page-scroll
              a(href='#testimonials') Testimonials
            li.dropdown
              a.dropdown-toggle(href='#', role='button', data-toggle='dropdown') Cart 
                 span.badge 0
              ul.dropdown-menu
                 li
                    a(href='') Item 1
                 li
                    a(href='') Item 2
                 li
                    a(href='') Item 3
                 li.divider(role='separator')
                 li
                    a(href='') Checkout
        // /.navbar-collapse
      // /.container-fluid
    // Header
    header
      .container
        .row
          .col-lg-12
            img.img-responsive(src='assets/img/logo.png', alt='')
            .intro-text
              span.name Sublime Handmades
              hr.star-light
              span.skills Accessories with high-quality yarns
    // For Sale Grid Section
    section#forsale
      .container
        .row
          .col-lg-12.text-center
            h2 For Sale
            hr.star-primary
        .row
          .col-sm-6.portfolio-item
            a.portfolio-link(href='#', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/knitting/heart-shawlette.jpg', alt='')
              h3.text-center Knits
          .col-sm-6.portfolio-item
            a.portfolio-link(href='#', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/crocheting/toddler-poncho.jpg', alt='')
              h3.text-center Knots 
    // Gallery Section
    section#gallery.success
      .container
        .row
          .col-lg-12.text-center
            h2 Gallery
            hr.star-light
        .row
          .col-sm-4.portfolio-item
            a.portfolio-link(href='/gallery', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/gallery/sold5.jpg', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='/gallery', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/gallery/sold10.jpg', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='/gallery', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='assets/img/gallery/sold16.jpg', alt='')
    // About Section
    section#about
      .container
        .row
          .col-lg-12.text-center
            h2 About
            hr.star-primary
        .row
          .col-lg-4.col-lg-offset-2
            p
              | I am passionate about everything handmade. After knitting and crocheting for 45 years , I decided to turn my skill into business. Scarfs, shawls, hats are my main interest but I also made baby blankets. I also love to take on custom orders if time permits! 
          .col-lg-4
            p
              | I am only using high quality yarns mostly with animal fibers (sometimes with a little blend of acrylic) as i don't like the feel of acrylic yarns only.
    // Testimonials Section
    section#testimonials.success
      .container
        .row
          .col-lg-12.text-center
            h2 Testimonials
            hr.star-light
        .row
          .col-lg-8.col-lg-offset-2
             blockquote
                p "Sublime Handmades is the best!"
                footer Jennifer from California
        .row
          .col-lg-8.col-lg-offset-2
             blockquote
                p "The highest quality handmades you can buy on the internet"
                footer Mariah from Germany
        .row
          .col-lg-8.col-lg-offset-2
             blockquote
                p "Her service was prompt and courteous. I will buy from them again"
                footer Elisa from Texas
    // Contact Section
    section#contact
      .container
        .row
          .col-lg-12.text-center
            h2 Contact Me
            hr.star-primary
        .row
          .col-lg-8.col-lg-offset-2
            // To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
            // The form should work on most web servers, but if the form is not working you may need to configure your web server differently.
            form#contactForm(name='sentMessage', novalidate='')
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label Name
                  input#name.form-control(type='text', placeholder='Name', required='', data-validation-required-message='Please enter your name.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label Email Address
                  input#email.form-control(type='email', placeholder='Email Address', required='', data-validation-required-message='Please enter your email address.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label Phone Number
                  input#phone.form-control(type='tel', placeholder='Phone Number', required='', data-validation-required-message='Please enter your phone number.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label Message
                  textarea#message.form-control(rows='5', placeholder='Message', required='', data-validation-required-message='Please enter a message.')
                  p.help-block.text-danger
              br
              #success
              .row
                .form-group.col-xs-12
                  button.btn.btn-success.btn-lg(type='submit') Send
    include ../templates/footer.jade
